/* Catppuccin Mocha Palette */
@define-color base #1e1e2e;
@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color surface0 #313244;
@define-color mauve #cba6f7;

* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: @subtext0;
}

#workspaces button.active {
    background: @mauve;
    color: @base;
}

#workspaces button:hover {
    background: @surface0;
    box-shadow: inherit;
    text-shadow: inherit;
}

#pulseaudio,
#clock,
#tray,
#window {
    padding: 0 10px;
    color: @text;
}

